*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin:0;
    font-family: sans-serif;
}

#root {
    background-color: rgb(251, 187, 109);
}



.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-area: header;
    background-color: rgba(242, 99, 16, 0.687);
}




.header__logo {
    grid-column: span 2;
    width: 100%;
    aspect-ratio: 1/1;
}

.header__tittle {
    grid-column: span 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
}




.globalnav__menu {
    
    list-style: none;
    padding: 2rem;
    margin: 1rem;
    float:left;
}


.globalnav__menu ul {
    position:absolute;
    padding: 1rem;
    margin: 0;
   
   

    background-color: white;

    translate: -100%;
    transition: translate 1s;

    list-style: none;
    line-height: 3;
}



.globalnav__menu li:hover ul,
.globalnav__menu li:focus-within ul {
   translate: 0;
}




.globalnav__menu button {
    border: none;
    padding: 0;
  

    background-color: inherit;
    color: rgb(154, 93, 246);

    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
}






.main__title {
    display: flex;
    grid-column: span 10;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
}



.main__card {
    display: grid;
    grid-column: span 12; 
    gap:0.3rem
   
}

.card {
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    background-color: rgb(215, 143, 17);
    border: 1px solid rgb(230, 182, 70);
    border-radius: 1rem;
    align-items: center;
    justify-content: space-evenly;

}


.card__tittle {
    text-align: center;
}

.card__pic {
    aspect-ratio: 1/1;
    width: 80%;
    border-radius: 1rem;
}

.card__text {
    margin: 2rem;
}

.card__cta {
display: inline-block;
color: black;
background-color: rgb(242, 233, 70);
margin:0.4rem;
padding: 0.7rem;
border: 1px solid rgb(151, 192, 224);
border-radius: 0.5rem;
text-align: center;
text-decoration: none;

}

.card:hover {
    box-shadow: 2px 2px 5px 5px black;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    padding: 0rem;
    gap: 0.5rem;
    list-style: none;
}

footer {
    grid-area: footer;
    background-color:rgba(242, 99, 16, 0.687);
    padding: 0.6rem;
    font-size: small;
}



.footer__item {
    grid-column: span 12;
    display: grid;
    text-align: center;
    border: 1px solid black;
    gap: 2rem;
}

@media screen and (min-width:50rem){
    .main__card {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap:2rem;
    }

    .card {
        grid-column: span 4;
    }

    .globalnav__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
    }

    .footer__menu {
        display: grid;
        grid-template-columns: repeat(12,1fr);
        gap: 2rem;
    }

    .footer__item {
        grid-column: span 4;
        display: flex;
        justify-content: space-around;
    
    }
}

